<html>
    <head>
        <title>Actualizar libro</title>
    </head>        
    <body>
        <h1>Actualizar libro</h1>
        <br>
        <a href="{% url 'listado_libros' %}">
            Volver a listado de libros
        </a>
        <br><br>
        <form method="post">
            {% csrf_token %}
            
            <table border="1">
                <tr>
                    <th>Título:</th>
                    <td><input type="text" name="titulo" value="{{libro.titulo}}" required></td>
                </tr>
                <tr>
                    <th>Descripción:</th>
                    <td><input type="text" name="descripcion" value="{{libro.descripcion}}" required></td>
                </tr>
                <tr>
                    <th>ISBN:</th>
                    <td><input type="number" name="isbn" value="{{libro.isbn}}" required></td>
                </tr>
                <tr>
                    <th>Autor:</th>
                    <td>
                        <select name="autor">
                            {% for autor in listado_autores %}
                                {% if autor.activo == True %}
                                {% if autor.id  == libro.autor.id %}
                                    <option value="{{autor.id}}" selected>
                                        {{autor.nombre}} {{autor.apellido}}
                                    </option>
                                {% else %}
                                    <option value="{{autor.id}}" >
                                        {{autor.nombre}} {{autor.apellido}}
                                    </option>
                                {% endif %}
                                {% endif %}

                            {% endfor %}
                        </select>
                    </td>
                </tr>                
                <tr>
                    <td></td>
                    <td><input style=" width: 100%;" type="submit" value="Actualizar libro" ></td>
                </tr>            
            </table>
            <br>
            <a href="{% url 'listado_libros' %}">
                Volver a listado de libros
            </a>
        </form>
    </body>
</html>