{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Prestamo</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/propios.css' %}">
    <style>
        body {
            padding-top: 70px;
        }
        .container-small {
            max-width: 500px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'pagina_principal' %}">
                <span class="logo-icon"></span>
                Inicio
            </a>
        </div>
    </nav>
    <div class="container-small mx-auto mt-4">
        <div class="content-container">
            <h1 class="mt-4">Actualizar Prestamo</h1>
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="fecha_prestamo">Fecha de Prestamo:</label>
                    <input type="text" id="fecha_prestamo" name="fecha_prestamo" value="{{ prestamo.fecha_prestamo }}" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="fecha_devolucion">Fecha de Devolución:</label>
                    <input type="text" id="fecha_devolucion" name="fecha_devolucion" value="{{ prestamo.fecha_devolucion }}" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="libro">Libro:</label>
                    <select name="libro" class="form-control">
                        {% for libro in listado_libros %}
                            {% if libro.activo == True %}
                                {% if libro.id  == prestamo.libro.id %}
                                    <option value="{{ libro.id }}" selected>
                                        {{ libro.titulo }}
                                    </option>
                                {% else %}
                                    <option value="{{ libro.id }}">
                                        {{ libro.titulo }}
                                    </option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="socio">Socio:</label>
                    <select name="socio" class="form-control">
                        {% for socio in listado_socios %}
                            {% if socio.activo == True %}
                                {% if socio.id  == prestamo.socio.id %}
                                    <option value="{{ socio.id }}" selected>
                                        {{ socio.nombre }} {{ socio.apellido }}
                                    </option>
                                {% else %}
                                    <option value="{{ socio.id }}">
                                        {{ socio.nombre }} {{ socio.apellido }}
                                    </option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="empleado">Empleado:</label>
                    <select name="empleado" class="form-control">
                        {% for empleado in listado_empleados %}
                            {% if empleado.activo == True %}
                                {% if empleado.id  == prestamo.empleado.id %}
                                    <option value="{{ empleado.id }}" selected>
                                        {{ empleado.nombre }} {{ empleado.apellido }}
                                    </option>
                                {% else %}
                                    <option value="{{ empleado.id }}">
                                        {{ empleado.nombre }} {{ empleado.apellido }}
                                    </option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar Prestamo</button>
                <a href="{% url 'listado_prestamos' %}" class="btn btn-primary">Volver a listado de Prestamos</a>
            </form>
        </div>
    </div>
</body>
</html>
