
<html>

    <head>
        <title>Lista de Empleados</title>
    </head>
     
    <body>
     
            <a>
                Lista de empleados
            </a>
            <br><br>
            
            <table border="1" width="600">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nro de legajo</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>

                {% for empleado in lista_empleados %}

                    <tr>

                        <td>{{ empleado.id }}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.numero_legajo }}</td> 
                        <td>{{ empleado.activo }}</td> 
                        <td>
                            <a href="{% url 'actualizar_empleado' empleado.id %}">
                                Modificar
                            </a>
                            |                                                    
                            {% if empleado.activo %}
                                <a href="{% url 'desactivar_empleado' empleado.id %}">
                                    Desactivar
                                </a>
                            {% else %}
                                <a href="{% url 'activar_empleado' empleado.id %}">
                                    Activar
                                </a>
                            {% endif %}

                        </td>
                    </tr>

                {% endfor %}

            </table>
    <a href="{% url 'registrar_empleado' %}">
        Agregar empleados
    </a>
    </body>

</html>