{% load static %}
<html>

    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <title>Lista de Empleados</title>
        <style>
            body {
                background-color: #78af9d; /* Reemplaza este color con el color deseado */
            }
        </style>
    </head>
     
    <body>
        <div class="container">
            <h1 class="text-center">Lista de empleados</h1>
            <br><br>
            <table class="table table-success table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Nro de legajo</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for empleado in lista_empleados %}
                        <tr>
                            <td>{{ empleado.id }}</td>
                            <td>{{ empleado.nombre }}</td>
                            <td>{{ empleado.apellido }}</td>
                            <td>{{ empleado.numero_legajo }}</td>  
                            <td>
                                <a class="btn btn-primary" href="{% url 'actualizar_empleado' empleado.id %}">
                                    Modificar
                                </a>
                                {% if empleado.activo %}
                                    <a class="btn btn-danger" href="{% url 'desactivar_empleado' empleado.id %}">
                                        Desactivar
                                    </a>
                                {% else %}
                                    <a class="btn btn-success" href="{% url 'activar_empleado' empleado.id %}">
                                        Activar
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <a class="btn btn-primary" href="{% url 'registrar_empleado' %}">
                Agregar empleados
            </a>
        </div>
    </body>

</html>