<html>

    <head>
        <title>Lista de Autores</title>
    </head>
     
    <body>

        <h1>
            Listado de Autores
        </h1>
        <a href="{% url 'nuevo_autores' %}">
            Agregar Autor
        </a>
         
             
           
            <br><br>  
            <table border="1" width="600">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nacionalidad</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>

                {% for autor in lista_autores %}

                    <tr>

                        <td>{{ autor.id }}</td>
                        <td>{{ autor.nombre }}</td>
                        <td>{{ autor.apellido }}</td>
                        <td>{{ autor.nacionalidad }}</td> 
                        <td>{{ autor.activo }}</td> 
                        <td>
                            <a href="{% url 'actualizar_autores' autor.id %}">
                                Modificar
                            </a>
                            |
                            {% if autor.activo %}
                                <a href="{% url 'desactivar_autor' autor.id %}">
                                    Desactivar
                                </a>
                            {% else %}
                                <a href="{% url 'activar_autor' autor.id %}">
                                    Activar
                                </a>
                            {% endif %}

                        </td>

                    </tr>

                {% endfor %}

            </table>
    </body>

</html>