<html>
    <head>
        <title>Lista de Socios</title>
    </head>

    <body>

        <a>
            Lista de socios
        </a>
        <br><br>

        <table border="1" width="600">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha_nacimiento</th>
                <th>Activo</th>
                <th>Opciones</th>
                
            </tr>

            {% for socio in lista_socios %}
                <tr>

                    <td>{{ socio.id }}</td>
                    <td>{{ socio.nombre }}</td>
                    <td>{{ socio.apellido}} </td>
                    <td>{{ socio.fecha_nacimiento }}</td>
                    <td>{{ socio.activo}} </td>
                    <td>
                        <a href="{% url 'nuevo_socio'%}">Nuevo</a>
                        <a href="{% url 'actualizar_datos_socio' socio.id %}">Modificar</a>
                        
                        {% if socio.activo %}
                            <a href="{% url 'desactivar_socio' socio.id %}">Desactivar</a>
                        {% else %}
                            <a href="{% url 'activar_socio' socio.id %}">Activar</a>
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </table>

    </body>

</html>