{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Listado de socios</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/propios.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'pagina_principal' %}">
                <span class="logo-icon"></span>
                Inicio
            </a>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="content-container">
            <h1 class="mt-4">Listado de socios</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover mt-4 shadow">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Fecha de nacimiento</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for socio in lista_socios %}
                        <tr>

                            <td>{{ socio.id }}</td>
                            <td>{{ socio.nombre }}</td>
                            <td>{{ socio.apellido}} </td>
                            <td>{{ socio.fecha_nacimiento }}</td>
                            <td>
                                <a class="btn btn-celeste-claro btn-sm"
                                    href="{% url 'actualizar_datos_socio' socio.id %}">Modificar</a>

                                {% if socio.activo %}
                                <a class="btn btn-danger btn-sm"
                                    href="{% url 'desactivar_socio' socio.id %}">Desactivar</a>
                                {% else %}
                                <a class="btn btn-success btn-sm" href="{% url 'activar_socio' socio.id %}">Activar</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <br>
            <a href="{% url 'nuevo_socio' %}" class="btn btn-primary">Agregar Socio</a>
        </div>
    </div>
</body>

</html>