<html>
    <head>
        <title>Listado de Libros</title>
    </head>     
    <body>
        <h1>
            Listado de libros
        </h1>
        <br><br>
        <table border="1px">
            <tr>
                <th> Id </th>
                <th> Título </th>
                <th> ISBN </th>
                <th> Autor </th>
                <th> Acciones </th>
            </tr>

            {% for libro in listado_libros %}
                <tr>
                    <td> {{ libro.id }} </td>
                    <td> {{ libro.titulo}} </td>
                    <td> {{ libro.isbn }} </td>
                    <td> {{ libro.autor }} </td> 
                    <td>
                        <a href="{% url 'actualizar_libro' libro.id %}">
                            Actualizar
                        </a>
                    |
                        {% if libro.activo %}
                            <a href="{% url 'desactivar_libro' libro.id %}">
                                Desactivar
                            </a>
                        {% else %}
                            <a href="{% url 'activar_libro' libro.id %}">
                                Activar
                            </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{% url 'nuevo_libro' %}">
            Agregar libro
        </a>
    </body>
</html>