<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar nuevos empleados</title>
</head>
<body>
    <form method="post"
        {%csrf_token%}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" values= "{{empleado.nombre}}" required>
        
        <label for="2apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido"  value="{{empleado.apellido}} required>
        
        <label for="numero_legajo">Número de Legajo:</label>
        <input type="text" id="numero_legajo" name="numero_legajo" value="{{empleado.numero_legajo}}" required>
        <button type="submit">Registrar</button>
    </form>
    
</body>
</html>